*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1E3C72, #2A5298); /* Blue Gradient */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}